<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!---------------------
        Bootstrap cdn
    ----------------------->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!---------------------
        Slick Slider css
    ----------------------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
        integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
        integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!---------------------
        Custom css
    ----------------------->
    <link rel="stylesheet" href="/css/mainStyles.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

<nav class="navbar navbar-expand-sm bg-primary">
        <div class="container mt-3 mb-2 align-item-center">
            <button class="navbar-toggler btn btn-secondary" type="button" data-toggle="collapse"
                data-target="#collapsenavbar">
                <span class="navbar-toggler-icon "></span>
            </button>

            <div class="collapse navbar-collapse text-center" id="collapsenavbar">
                <ul class="navbar-nav">
                    <li class="nav-item px-4">
                        <button type="button" class="btn btn-primary"><h2>OSW</h2></button>
                    </li>
                    <li class="nav-item px-4">
                        <button type="button" class="btn btn-primary"><h2>DOS</h2></button>
                    </li>
                    <li class="nav-item px-4">
                        <button type="button" class="btn btn-primary"><h2>TOC</h2></button>
                    </li>
                    <li class="nav-item px-4">
                        <button type="button" class="btn btn-primary"><h2 style="color:black;">CN</h2></button>
                    </li>
                    <li class="nav-item px-4">
                        <button type="button" class="btn btn-primary"><h2>PP</h2></button>
                    </li>
                    <li class="nav-item px-4">
                        <button type="button" class="btn btn-primary"><h2>ADM</h2></button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

      <div class="wrapper">
        <div class="accordion active">
      <div class="accordion_content" id="accordion1">
                <div class="slider">
                    <div class="container outer-div">
                        <div class="row heading-div">
                            <h1>SEPTEMBER 2022</h1>
                        </div>
                        <div class="content-div">
                            <div class="row calendar-week-day">
                                <div class="col">Sun</div>
                                <div class="col">Mon</div>
                                <div class="col">Tue</div>
                                <div class="col">Wed</div>
                                <div class="col">Thu</div>
                                <div class="col">Fri</div>
                                <div class="col">Sat</div>
                            </div>
                                <div class="row calendar-week-date">
                                    <div class="col"></div>
                                    <div class="col"></div>
                                    <div class="col"></div>
                                    <div class="col"></div>
                                    <div class="col true"><button style="background-color:black; color:white;">1</button></div>
                                    <div class="col true"><button style="background-color:black; color:white;">2</button></div>
                                    <div class="col true"><button style="background-color:black; color:white;">3</button></div>
                                </div>
                            <div class="row calendar-week-date">
                                <div class="col  holiday">4</div>
                                <div class="col true"><button style="background-color:black; color:white;">5</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">6</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">7</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">8</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">9</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">10</button></div>
                            </div>
                            <div class="row calendar-week-date">
                                <div class="col  holiday">11</div>
                                <div class="col true"><button style="background-color:black; color:white;">12</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">13</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">14</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">15</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">16</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">17</button></div>
                            </div>
                            <div class="row calendar-week-date">
                                <div class="col  holiday">18</div>
                                <div class="col true"><button style="background-color:black; color:white;">19</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">20</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">21</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">22</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">23</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">24</button></div>
                            </div>
                            <div class="row calendar-week-date">
                                <div class="col  holiday">25</div>
                                <div class="col true"><button style="background-color:black; color:white;">26</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">27</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">28</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">29</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">30</button></div>
                                <div class="col "></div>
                            </div>
                        </div>
                    </div>
                    <div class="container outer-div">
                        <div class="row heading-div">
                            <h1>OCTOBER 2022</h1>
                        </div>
                        <div class="content-div">
                            <div class="row calendar-week-day">
                                <div class="col">Sun</div>
                                <div class="col">Mon</div>
                                <div class="col">Tue</div>
                                <div class="col">Wed</div>
                                <div class="col">Thu</div>
                                <div class="col">Fri</div>
                                <div class="col">Sat</div>
                            </div>
                            <div class="row calendar-week-date">
                                <div class="col  holiday">30</div>
                                <div class="col true"><button style="background-color:black; color:white;">31</button></div>
                                <div class="col"></div>
                                <div class="col"></div>
                                <div class="col "></div>
                                <div class="col "></div>
                                <div class="col true"><button style="background-color:black; color:white;">1</button></div>
                            </div>
                            <div class="row calendar-week-date">
                                <div class="col  holiday">2</div>
                                <div class="col true"><button style="background-color:black; color:white;">3</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">4</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">5</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">6</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">7</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">8</button></div>
                            </div>
                            <div class="row calendar-week-date">
                                <div class="col  holiday">9</div>
                                <div class="col true"><button style="background-color:black; color:white;">10</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">11</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">12</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">13</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">14</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">15</button></div>
                            </div>
                            <div class="row calendar-week-date">
                                <div class="col  holiday">16</div>
                                <div class="col true"><button style="background-color:black; color:white;">17</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">18</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">19</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">20</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">21</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">22</button></div>
                            </div>
                            <div class="row calendar-week-date">
                                <div class="col  holiday">23</div>
                                <div class="col true"><button style="background-color:black; color:white;">24</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">25</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">26</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">27</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">28</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">29</button></div>
                            </div>

                        </div>
                    </div>
                    <div class="container outer-div">
                        <div class="row heading-div">
                            <h1>NOVEMBER 2022</h1>
                        </div>
                        <div class="content-div">
                            <div class="row calendar-week-day">
                                <div class="col">Sun</div>
                                <div class="col">Mon</div>
                                <div class="col">Tue</div>
                                <div class="col">Wed</div>
                                <div class="col">Thu</div>
                                <div class="col">Fri</div>
                                <div class="col">Sat</div>
                            </div>
                            <div class="row calendar-week-date">
                                <div class="col"></div>
                                <div class="col"></div>
                                <div class="col true"><button style="background-color:black; color:white;">1</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">2</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">3</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">4</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">5</button></div>
                            </div>
                            <div class="row calendar-week-date">
                                <div class="col  holiday">6</div>
                                <div class="col true"><button style="background-color:black; color:white;">7</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">8</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">9</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">10</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">11</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">12</button></div>
                            </div>
                            <div class="row calendar-week-date">
                                <div class="col  holiday">13</div>
                                <div class="col true"><button style="background-color:black; color:white;">14</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">15</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">16</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">17</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">18</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">19</button></div>
                            </div>
                            <div class="row calendar-week-date">
                                <div class="col  holiday">20</div>
                                <div class="col true"><button style="background-color:black; color:white;">21</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">22</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">23</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">24</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">25</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">26</button></div>
                            </div>
                            <div class="row calendar-week-date">
                                <div class="col  holiday">27</div>
                                <div class="col true"><button style="background-color:black; color:white;">28</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">29</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">30</button></div>
                                <div class="col "></div>
                                <div class="col "></div>
                                <div class="col "></div>
                            </div>
                        </div>
                    </div>
                    <div class="container outer-div">
                        <div class="row heading-div">
                            <h1>DECEMBER 2022</h1>
                        </div>
                        <div class="content-div">
                            <div class="row calendar-week-day">
                                <div class="col">Sun</div>
                                <div class="col">Mon</div>
                                <div class="col">Tue</div>
                                <div class="col">Wed</div>
                                <div class="col">Thu</div>
                                <div class="col">Fri</div>
                                <div class="col">Sat</div>
                            </div>
                            <div class="row calendar-week-date">
                                <div class="col"></div>
                                <div class="col"></div>
                                <div class="col"></div>
                                <div class="col"></div>
                                <div class="col true"><button style="background-color:black; color:white;">1</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">2</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">3</button></div>
                            </div>
                            <div class="row calendar-week-date">
                                <div class="col  holiday">4</div>
                                <div class="col true"><button style="background-color:black; color:white;">5</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">6</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">7</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">8</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">9</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">10</button></div>
                            </div>
                            <div class="row calendar-week-date">
                                <div class="col  holiday">11</div>
                                <div class="col true"><button style="background-color:black; color:white;">12</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">13</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">14</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">15</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">16</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">17</button></div>
                            </div>
                            <div class="row calendar-week-date">
                                <div class="col  holiday">18</div>
                                <div class="col true"><button style="background-color:black; color:white;">19</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">20</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">21</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">22</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">23</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">24</button></div>
                            </div>
                            <div class="row calendar-week-date">
                                <div class="col  holiday">25</div>
                                <div class="col true"><button style="background-color:black; color:white;">26</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">27</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">28</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">29</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">30</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">31</button></div>
                            </div>
                        </div>
                    </div>
                    <div class="container outer-div">
                        <div class="row heading-div">
                            <h1>JANUARY 2023</h1>
                        </div>
                        <div class="content-div">
                            <div class="row calendar-week-day">
                                <div class="col">Sun</div>
                                <div class="col">Mon</div>
                                <div class="col">Tue</div>
                                <div class="col">Wed</div>
                                <div class="col">Thu</div>
                                <div class="col">Fri</div>
                                <div class="col">Sat</div>
                            </div>
                            <div class="row calendar-week-date">
                                <div class="col  holiday">1</div>
                                <div class="col true"><button style="background-color:black; color:white;">2</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">3</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">4</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">5</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">6</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">7</button></div>
                            </div>
                            <div class="row calendar-week-date">
                                <div class="col  holiday">8</div>
                                <div class="col true"><button style="background-color:black; color:white;">9</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">10</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">11</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">12</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">13</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">14</button></div>
                            </div>
                            <div class="row calendar-week-date">
                                <div class="col  holiday">15</div>
                                <div class="col true"><button style="background-color:black; color:white;">16</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">17</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">18</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">19</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">20</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">21</button></div>
                            </div>
                            <div class="row calendar-week-date">
                                <div class="col  holiday">22</div>
                                <div class="col true"><button style="background-color:black; color:white;">23</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">24</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">25</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">26</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">27</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">28</button></div>
                            </div>
                            <div class="row calendar-week-date">
                                <div class="col  holiday">29</div>
                                <div class="col true"><button style="background-color:black; color:white;">30</button></div>
                                <div class="col true"><button style="background-color:black; color:white;">31</button></div>
                                <div class="col "></div>
                                <div class="col "></div>
                                <div class="col "></div>
                                <div class="col "></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-content container">
                <div class="row mt-4">
                    <h3 class="col-md-4">Total classes : <span id="total"></span></h3>
                    <h3 class="col-md-4">Present : <span id="present"></span></h3>
                    <h3 class="col-md-4">Absent : <span id="absent"></span></h3>
                </div>
                <h3 class="row ml-1" style="display:inline; text-align: center;"> Attendance Percent : <span
                        id="percent"></span></h3>
            </div>
        </div>
     </div></body>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
        integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="/js/mainScript.js"></script>


</html>